html, body {
  /* height: 100%; */
  font-family: Arial, sans-serif;
}

#container {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  /* justify-content: center; */
  align-items: center;
}

.steps {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 0;
}

.step-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 15px;
}

.step {
  font-size: 1.5em;
  width: 50px;
  padding-left: 20px;
}

.step-two-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.step-one {
  background-color: #fcee9e;
}

.step-two {
  background-color: #8bd2ec;
}

.step-three {
  background-color: #92cea8;
}

.tool {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #c4c4c4;
  border-radius: 20px;
  margin-top: 40px;
  overflow: hidden;
}

#title {
  width: 100%;
  font-size: 1.5em;
  padding: 20px 0;
  background-color: #d1b7dd;
  text-align: center;
}

#track-selector {
  display: flex;
  margin: 0 0 15px 0;
}

.selector {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  text-align: center;
  width: 25px;
  height: 25px;
  cursor: pointer;
  background-color: white;
}

.selector:hover {
  background-color: #ecf0f1;
}

.selected {
  background-color: #2ecc71 !important;
}

#player {
  display: flex;
}

#buttons {
  display: flex;
  margin: 10px 0;
}

.button {
  cursor: pointer;
  width: 50px;
  height: 50px;
}

#start {
  background: url('assets/record.svg') no-repeat;
  background-size: cover;
}

#download {
  margin-top: 10px;
  background-size: cover;
  filter: brightness(1.6);
}

.download-icon {
  cursor: pointer;
  width: 50px;
}

.disabled {
  filter: opacity(0.2);
  cursor: default;
}

.ready {
  background: url('assets/download.svg') no-repeat;
}

#status {
  display: flex;
  margin: 5px 0;
}

.status-recording {
  color: red;
}

.status-processing {
  color: green;
}

.instructions {
  border: 1px solid #c4c4c4;
  border-radius: 20px;
  margin-top: 40px;
  width: 500px;
}

.instructions-title {
 font-size: 1.5em;
 width: 95%;
 margin: 5px auto;
 text-align: center;
 border-bottom: 1px solid #c4c4c4;
}

.tips {
  margin: 0 20px;
}
